
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-image: url( "../images/booth.JPG");
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.page{
  margin-left: 5%;
  width: 90%;
  position: relative;
  bottom: 50px;
}


/*Navbar*/

 .navBar{
  background-color:   RGB(152, 60, 171);
}


/*product snips*/

.productSnip{
}

.productSnip h3{
  width: 80%;
  text-align: left;
  padding: 3px;
  color: black;
  position: relative;
  bottom: 60px;
  background-color: rgba(152, 60, 171, 0.90);

}
 .snipLink{
   text-decoration: none;

 }
